* {
    margin: 0;
    padding: 0;
}


/* Banner section style */
.banner {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #ff6a00 0%, rgba(231, 132, 100, 0) 100%), url('../resources/Banner\ Image.png');
    display: flex;
    margin: auto;
    margin-top: 50px;
    position: relative;


}

.banner-content {
    align-self: center;
    margin: auto;


}

.banner-paragraph {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;



}

.banner-header {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;

}

/* New year 3d image section style */

.new-year-image-container {
    display: block;
    text-align: center;
    margin-top: 120px;
}

.percent-off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;

}

.holiday-deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;

}

.new-year-threeD {
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
    margin-bottom: 0;

}

/* Welcome image section style */

.welcome-image-section {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;


}

.welcome-image-section {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;

}

.welcome-image-container {
    padding-left: 126px;
    padding-top: 126px;
}

.welcome {

    width: 642px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 0;
}

.welcome-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 0;
}

.welcome-section-button {
    height: 60px;
    width: 100px;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 48px;
}

.welcome-section-button:hover {
    background-color: #ff6a00;
    box-shadow: 10px 10px 30px white;
    font-weight: 800;
    color: white;


}

.tweenty-tweenty-four {
    width: 319.83px;
    height: 464.662px;
    padding-left: 39px;
    margin-top: 68px;

}

/* Venue section style */

.venue-section {
    width: 1320px;
    height: 482px;
    background-image: linear-gradient(180deg, rgb(245, 130, 30), rgb(255, 255, 255));
    margin-top: 120px;
    box-shadow: 10px 5px 20px gray;
    text-align: center;
    margin: auto
}

.venue-container {
    padding-top: 100px;
    margin-bottom: 0;
}

.venue-container>p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.venue-container>p>span {
    color: #F00;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.venue-section>button {
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: white;
    border: 0;
    margin-top: 48px;

}

/* Coming soon style section */

.coming-soon-section {
    width: 1320px;
    height: 482px;
    margin: auto;



}

.coming-soon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}


.left-item>h5 {
    color: #F00;

    font-family: 'Inter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.left-item>h3 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.left-item>p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}


.left-item>h5 {
    padding-top: 104px;
}

.middle-item {
    height: 374.844px;
    width: 374.844px;
    background-color: #F00;
    border-radius: 100%;
}

.middle-item>img {
    width: 364.844px;
    height: 364.844px;
    border-radius: 100%;


}



.right-item>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 112px;
}



.right-item>p {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.right-item>img {
    width: 140px;
    height: 140px;
}