* {
    margin: 0;
    padding: 0;
}


/* Banner section style */
.banner {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #ff6a00 0%, rgba(231, 132, 100, 0) 100%), url('../resources/Banner\ Image.png');
    display: flex;
    margin: auto;
    margin-top: 50px;
    position: relative;


}

.banner-content {
    align-self: center;
    margin: auto;


}

.banner-paragraph {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;



}

.banner-header {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;

}

/* New year 3d image section style */

.new-year-image-container {
    display: block;
    text-align: center;
    margin-top: 120px;
}

.percent-off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;

}

.holiday-deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;

}

.new-year-threeD {
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
    margin-bottom: 0;

}

/* Welcome image section style */

.welcome-image-section {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;


}

.welcome-image-section {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;

}

.welcome-image-container {
    padding-left: 126px;
    padding-top: 126px;
}

.welcome {

    width: 642px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 0;
}

.welcome-description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 0;
}

.welcome-section-button {
    height: 60px;
    width: 100px;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 48px;
}

.welcome-section-button:hover {
    background-color: #ff6a00;
    box-shadow: 10px 10px 30px white;
    font-weight: 800;
    color: white;


}

.tweenty-tweenty-four {
    width: 319.83px;
    height: 464.662px;
    padding-left: 39px;
    margin-top: 68px;

}

/* Venue section style */

.venue-section {
    width: 1320px;
    height: 482px;
    background-image: linear-gradient(180deg, rgb(245, 130, 30), rgb(255, 255, 255));
    margin-top: 120px;
    box-shadow: 10px 5px 20px gray;
    text-align: center;
    margin: auto
}

.venue-container {
    padding-top: 100px;
    margin-bottom: 0;
}

.venue-container>p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.venue-container>p>span {
    color: #F00;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.venue-section>button {
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: white;
    border: 0;
    margin-top: 48px;

}

/* Coming soon style section */

.coming-soon-section {
    width: 1320px;
    height: 482px;
    margin: auto;



}

.coming-soon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}


.left-item>h5 {
    color: #F00;

    font-family: 'Inter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.left-item>h3 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.left-item>p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}


.left-item>h5 {
    padding-top: 104px;
}

.middle-item {
    height: 374.844px;
    width: 374.844px;
    background-color: #F00;
    border-radius: 100%;
}

.middle-item>img {
    width: 364.844px;
    height: 364.844px;
    border-radius: 100%;



}



.right-item>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 112px;
}



.right-item>p {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.right-item>img {
    width: 140px;
    height: 140px;
}

.holiday-section {
    width: 1320px;
    margin: auto;
}

.holiday-section>h5 {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 5px;
}


.holiday-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    margin-bottom: 24px;

}

.holiday-title>span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-description {
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    text-align: center;
    margin: auto;
    padding-bottom: 64px;
}

.holiday-image-container {
    margin: auto;
    /* display: flex; */
    justify-content: flex-end;


}

.container-3 {
    width: 429px;
    height: 433px;
    display: flex;
    transform: translate(207.554%);
    background-image: url('../resources/Rectangle\ 1.png');





}

.container-2 {
    width: 206.841px;
    height: 206.841px;
    display: flex;
    transform: translate(-50%);
    margin-top: 160px;



}

.container-1 {
    width: 529px;
    height: 533px;
    display: flex;
    bottom: 400px;
    position: relative;
    left: 50px;
}

.red-rectengle {
    width: 1320px;
    height: 229px;
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    position: relative;


}


/* Photo grid style section */

.photo-grid>h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 120px;
    margin-bottom: 16px;
}

.photo-grid>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.photo-grid>p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;


}

.photo-grid {
    width: 1320px;

    margin: auto;

}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: auto;
    overflow: hidden;
}

.grid>img {
    width: 424px;
    height: 450px;
    margin-top: 24px;
    transition: transform .2s ease;
    margin-bottom: 120px;


}

.grid>img:hover {
    transform: scale(1.1);
    border-radius: 30%;
    box-shadow: 10px 10px 20px black;


}

/* Subscribe newsletter style section */

.subscribe-newsletter {
    width: 1320px;
    height: 616px;
    margin: auto;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}


.subscribe-newsletter>img {
    width: 150px;
    height: 150px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.subscribe-newsletter>h2 {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 10px;
}

.subscribe-newsletter>p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}

.subscribe-btn {
    width: 648px;
    height: 72px;
    display: flex;
    margin: auto;


}

.subscribe-btn>button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe-btn>input {
    width: 438px;
    height: 72px;
    flex-shrink: 0;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #FFF;
    border: 0;
}

.subscribe-btn>input::placeholder {
    font-size: 30px;
    padding-left: 20px;

}

/* Footer style section */

.footer-section {
    width: 1600px;
    height: 609px;
    background: #070211;
    margin: auto;
}


.footer-top {
    display: flex;
    justify-content: space-between;
}


.footer-top-left>p {
    width: 357px;
    height: 80px;
    margin-top: 120px;
    margin-left: 140px;
    color: #FFF;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.footer-top-right{
    margin-top: 120px;
    margin-right: 275px;

}

.footer-top-right>p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    

}

.footer-top-right>p>img {
    width: 24px;
    height: 24px;

}


.footer-icon>img{
    width: 64px;
    height: 64px;
}

.footer-icon{
    
    display: flex;
    gap: 24px;
    transform: translate(37.5%);
    margin-top: 120px;

    
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    
}

.footer-bottom>p{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 80px;
margin-left: 120px;
}


.footer-bottom>button{
    background: none;
    border: none;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 80px;
margin-right: 120px;
}